.city-list {
  display: block;
  list-style: none;
  font-family: 'Rubik', sans-serif;
  margin-top: 2rem;  
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-bottom: 1px solid #fff;
  padding-bottom: 2.5rem;
  margin-right: 2.5rem;
}

.city {
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
 
}
