.weather-details{
    margin-top: 2.5rem;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-size: 1.15rem;
    
}
.weather-details .title{
    font-weight: 600;
}
.weather-details .details{
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-right: 2.5rem;
}
.weather-details .details div{
    display: flex;
    justify-content: space-between;
}