.info-panel {
  grid-area: city;
  z-index: 100;

  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
  width: 100%;
  
}
.info-panel .title {
  font-size: 8rem;
  color: #fff;
  font-family: 'Rubik', sans-serif;
}
.info-panel .info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}
.info-panel .info-grid .city {
  font-size: 2.25rem;
}

.info-panel .info-grid .icon {
  display: flex;
  padding-top: 1rem;
  width: fit-content;
}
.info-panel .info-grid .icon img{ padding-left: .5rem;}

.info-panel .info-grid .time {
  color: #fff;
  font-size: 1.25rem;
}
.info-panel .info-grid .weather-type {
  color: #fff;
  font-size: 1.25rem;
  padding-left: 1rem;
}
